<div class="main-container">
  <app-test></app-test>
  <h2>Track list</h2>
  <div class="input-group">
    <input class="form-control col-sm-4" #filterInput type='text' placeholder='search for bands and songs' (input)="search(filterInput.value)" (keydown.enter)="search(filterInput.value)" />
    <button class="btn btn-success" (click)="addTrackModal()" data-toggle="modal" data-target="#addTrackModal">Add track</button>
  </div>
  <!-- <button class="btn btn-dark" (click)="filterTracks(filterInput.value)">search</button>
  <button class="btn btn-danger" (click)="clear()">{{tracks$.length}} clear</button>
  <button class="btn btn-dark" (click)="getTracks()">reset</button>
  <button class="btn btn-dark" (click)="addTrack()">Add a track</button> -->
  <div>
    <app-track *ngFor="let track of tracks$ | async" [(track)]="track" [modalId]="track._id">
    </app-track>
  </div>
  
  <div class="modal" id="addTrackModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
      <div class="modal-content bg-dark">
        <div class="modal-header">
          <h5 class="modal-title">Add a new track</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
          </button>
        </div>
      
        <div class="modal-body">
          <div class="form-group">
            <label for="bandName">Band name:</label>
            <input type="text" class="form-control" id="bandName" [(ngModel)]="newTrack.band">
          </div>
          <div class="form-group">
            <label for="trackName">Track name:</label>
            <input type="text" class="form-control" id="trackName" [(ngModel)]="newTrack.track">
          </div>
          <div class="form-group">
            <label for="remix">Remix:</label>
            <input type="text" class="form-control" id="remix">
          </div>
          <div class="form-group">
            <label for="tags">Tags:</label>
            <div id="tagsInputGroupAdd" style="padding-top: 0px !important" class="input-group form-control">
              <input type="text" id="tagsInputAdd" class="tag-input" (keyup)="keyPressed(tagInput.value)" placeholder="tags are separated by ','" #tagInput/>
            </div>
          </div>
        </div>
    
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="addTrack(newTrack)">Add track</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

</div>