<div class="card text-white bg-dark" *ngIf="exists">
    <div style="float: right;">
        <button class="btn" style="color: rgb(0, 157, 255);" (click)="edit()" data-toggle="modal" attr.data-target="#{{track._id}}">edit</button>
        <button class="btn" style="color: red;" (click)="delete()"><strong>x</strong></button>
    </div>
    <div class="card-header">
        <strong>{{track.track}}</strong> by <strong>{{track.band}}</strong>
    </div>
    <div class="card-body">
        <div *ngIf="track.remix">{{track.remix}} remix</div>
        <div *ngIf="track.tags.length > 0">{{track.tags}}</div>
    </div>
</div>

<div class="modal" id="{{track._id}}" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content bg-dark">
        <div class="modal-header">
          <h5 class="modal-title">Edit track</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div class="modal-body">
            <div class="form-group">
                <label for="bandName">Band name:</label>
                <input type="text" class="form-control" id="bandName-{{track._id}}" [(ngModel)]="track.band">
            </div>
            <div class="form-group">
                <label for="trackName">Track name:</label>
                <input type="text" class="form-control" id="trackName-{{track._id}}" [(ngModel)]="track.track">
            </div>
            <div class="form-group">
                <label for="remix">Remix:</label>
                <input type="text" class="form-control" id="remix-{{track._id}}" [(ngModel)]="track.remix">
            </div>
            <div class="form-group tags-input">
                <label for="tags">Tags:</label>
                <div id="tagsInputGroup-{{track._id}}" style="padding-top: 0px !important" class="input-group form-control">
                    <input type="text" id="tags-{{track._id}}" class="tag-input" (keyup)="keyPressed(tagInput.value)" placeholder="tags are separated by ','" #tagInput/>
                </div>
            </div>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="saveTrack(track)">Save changes</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>