.app-container {
    background-color: rgb(31, 31, 31);
    align-content: center;
    min-height: 95%;
    margin-left: 10%;
    margin-right: 10%;
}

.login {
    margin-top: 2px;
    margin-right: 5px;
    float: right;
}